/* * {
	border: 1px solid red;
} */
.entire-page {
	background-color: rgba(17, 4, 29, 0.612);
}
a {
	color: inherit;
	/* text-decoration: inherit; */
	/* all:unset; */
}
/* Nav Component Styling */
.nav-container {
	list-style: none;
	display: flex;
	justify-content: center;
	padding: 0;
}
.nav-link {
	font-size: 1.2rem;
}
main {
	margin: 0 auto;
}
/* Search Component Styling */
.search-container {
	text-align: center;
}
.search-container form button {
	display: block;
	margin: 1rem auto;
}
/* Results Component Styling */
.results-header {
	text-align: center;
}
.results-page {
	width: 95%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;
	margin: 0 auto;
}
.picture-container {
	background-color: rgba(142, 159, 199, 0.598);
}
.picture-container img {
	width: 100%;
	height: 50%;
}
/* Detail Result Component Styling */
.detail-result-container {
	display: flex;
	flex-direction: column;
}
.detail-result-container h1 {
	text-align: center;
	width: 100%;
}
.detail-result-container img {
	width: 90%;
	margin: 0 auto;
}
.detail-result-text-container {
	display: flex;
	justify-content: space-between;
}
.detail-result-text-container h4 {
	margin: 1rem 1rem;
}
.detail-result-container .description-header {
	text-align: center;
	margin-bottom: 0.1rem;
}
.description-p {
	margin: 1rem auto;
	width: 94%;
}
