* {
	border: 1px solid red;
	font-family: 'Source Code Pro', monospace;
}
body {
	background-color: rgba(23, 13, 58, 0.612);
}
a {
	color: inherit;
	/* text-decoration: inherit; */
	/* all:unset; */
}
/* Nav Component Styling */
.nav-container {
	list-style: none;
	display: flex;
	justify-content: center;
	padding: 0;
}
.nav-link {
	font-size: 1.2rem;
}
main {
	margin: 0 auto;
}
/* Search Component Styling */
.search-container {
	text-align: center;
}
.search-container form p {
	font-weight: 700;
}
.search-container form button {
	display: block;
	margin: 1rem auto;
}
/* Today Result Component Styling */
.today-data-container {
	width: 95%;
	margin: 0 auto;
	border: 10px double black;
	border-radius: 1rem;
}
.today-data-container img {
	width: 100%;
}
.today-data-text-container h5 {
	margin: 0 0.25rem;
	text-align: end;
}
.today-data-text-container .today-description-header {
	margin: 0.5rem;
}
/* Results Component Styling */
.results-header {
	text-align: center;
}
.results-page {
	width: 95%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1rem;
	margin: 0 auto;
	max-width: 1500px;
}
.picture-container {
	background-color: rgba(142, 159, 199, 0.598);
	border: 2px double rgba(208, 211, 225, 0.317);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-decoration: none;
	
}
.picture-container img {
	width: 100%;
	
}
.results-text-container {
	display: inline-block;
	height: absolute 50;
	flex-direction: column;
	justify-content: space-between;
	font-size: .75rem;
	
	
}
.picture-container p {
	margin: .5rem 0;
	
}
/* Detail Result Component Styling */
.detail-result-container {
	display: flex;
	flex-direction: column;
	border: 10px double black;
	border-radius: 1rem;
}
.detail-result-container h1 {
	text-align: center;
	width: 100%;
}
.detail-result-container img {
	width: 90%;
	margin: 0 auto;
}
.detail-result-text-container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0 2rem;
}
.detail-result-text-container h4 {
	margin: 1rem 1rem;
}
.detail-result-text-container .detail-result-video-link {
	display: block;
}
.detail-result-container .description-header {
	text-align: center;
	margin-bottom: 0.1rem;
}
.description-p {
	margin: 1rem auto;
	width: 94%;
}
